[user]
	name = kozyty
	email = kozyty@gmail.com
  #email = taiyo.kojima@nanapi.co.jp

[color]
  ui = true
[http]
  sslVerify = false
[alias]
  st = status
  ss = "status -s"
  br = "branch -a"
  co = "checkout"
  unstage = "reset HEAD --"
  addu = "add --update"
  adda = "add --all"
  commit = "commit -av"
  branch-root = merge-base master HEAD
  review = !tig --reverse -w $(git branch-root)..HEAD

[core]
  editor = /usr/bin/vim -c \"set fenc=utf-8\"
  #editor = /usr/local/vim/bin/vim -c \"set fenc=utf-8\"
	excludesfile = /Users/kozyty/.gitignore
  whitespace = cr-at-eol
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/workspace/dotfiles/.commit_template
