[user]
  name = kozyty
  email = kozyty@gmail.com
[color]
  ui = true
[http]
  sslVerify = false
[alias]
  st = status
  ss = "status -s"
  br = "branch -a"
  co = "checkout"
  unstage = "reset HEAD --"
  addu = "add --update"
  adda = "add --all"
  commit = "commit -av"
[core]
  editor = /usr/bin/vim -c \"set fenc=utf-8\"
  whitespace = cr-at-eol
[merge]
        tool = vscode
[mergetool]
        prompt = false
        keepBackup = false
[mergetool "vscode"]
        cmd = '/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code' \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = false
[commit]
	template = ~/src/github.com/kozyty/dotfiles/.commit_template
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[ghq]
	root = ~/src
[url "git@github.com:"]
	insteadOf = https://github.com/
